header {
  background: transparent url(header.jpg) no-repeat fixed;
  height: 30em;
  display: flex;
  margin-top: 5em;
  margin: 0 auto 20px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
