<% include header %>
  <div class="grid-mid">
            <div class="row">
                <div class="col col-6 col-sm-12">
                  <p>
                  </p>
                  </div>
               <div class="col col-6 col-sm-12">
                 <p>
                 </p>
                 </div>
              </div>
    <div class="row">
                <div class="col col-6 col-sm-12">
                  <p></p>
                  </div>
               <div class="col col-6 col-sm-12">
                 <p></p>
                 </div>
              </div>
    <div class="row">
                <div class="col col-6 col-sm-12">
                  <p></p>
                  </div>
               <div class="col col-6 col-sm-12">
                 <p></p>
                 </div>
              </div>
    </div>
<% include footer %>
